/* Styles for Button */

:root{
    --primary-bg-clr: black;
    --secondary-bg-clr: rgb(1, 46, 26);
    --hover-bg-clr: rgb(1, 79, 44);
    --clr: white;
    --bdr-clr: rgb(0, 159, 108);
}

body{
    font-size: 2rem;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-bg-clr);



    
}

button{
    font: inherit;
    padding: 0.75em 3em;
    cursor: pointer;
    border: 0.1em solid var(--bdr-clr);
    background-color: var(--secondary-bg-clr);
    color: var(--clr);
    border-radius: 100vw;
}

button:hover,
button:focus-visible{
background-color: var(--hover-bg-clr);
}